[submodule "fast-syntax-highlighting"]
	path = zsh/.zshinit/plugin/fast-syntax-highlighting
	url = https://github.com/zdharma-continuum/fast-syntax-highlighting
[submodule "tpm"]
	path = tmux/.tmux/plugins/tpm
	url = https://github.com/tmux-plugins/tpm
[submodule "tmux-nord"]
	path = tmux/.tmux/plugins/tmux
	url = https://github.com/nordtheme/tmux
[submodule "tmux/.tmux/plugins/tmux"]
	shallow = true
[submodule "tmux/.tmux/plugins/tpm"]
	shallow = true
[submodule "zsh/.zshinit/plugin/fast-syntax-highlighting"]
	shallow = true
[submodule "zsh/.zshinit/plugin/powerlevel10k"]
	shallow = true
