# Get editor completions based on the config schema
"$schema" = 'https://starship.rs/config-schema.json'

format = '''
 $directory $character
'''

right_format = """
$direnv\
$git_branch\
$git_commit\
$git_state\
$git_status\
$lua\
$python\
$rust\
$typst\
"""

add_newline = false

[character]
success_symbol = '[λ](fg:bold blue)'
error_symbol = '[λ](fg:bold red)'

vimcmd_symbol = '[Λ](fg:bold blue)'

[directory]
read_only = ''
# substitutions = {'~' = '', 'Code' = '󰈮', 'Documents' = '󰈙', 'Games' = '󱎓', 'Music' = '', 'Pictures' = '', 'lib' = ''}

[git_branch]
format = '[$symbol$branch(:$remote_branch)]($style) '
style = "bold yellow"
truncation_length = 7

[lua]
# disabled = true
symbol = "󰢱 "

[python]
format = "[${symbol}${pyenv_prefix}${version}]($style)"
symbol = " "
style = "fg:green bold"

[rust]
# disabled = true
symbol = "󱘗 "

[typst]
# disabled = true
format = "[${symbol}${version}]($style)"
symbol = " "

